@import "core/_variables.scss";
@import "components/pricing";

/*<!-- HERO -->*/

.container__page {
  margin: 0;
}

.hero__container {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  height: 100vh;
}

.hero__space {
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.hero__box-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

.hero__title {
  font-family: "Roboto Slab", serif;
  color: $color-white;
  font-size: 42px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  width: 290px;
}

.hero__text {
  top: 0;
  font-family: "Roboto", sans-serif;
  color: $color-white;
  font-size: 16px;
}

.hero__scroll-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
}

.hero__circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: $color-white;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0 0 53px;
}

@media all and (min-width: 768px) {
  .hero__title {
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .hero__text {
    font-size: 24px;
  }
}

/*<!-- HEADER -->*/

.header__hamburguer {
  background-color: $color-blue;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  height: 44px;
  width: 44px;
  border: none;
}

/*<!-- MAIN -->*/

.looking__container {
  margin: 0;
  padding: 0;
  width: 100vh;
  bottom: 0;
}

.looking__tips {
  height: 30px;
  margin: 30px 215px 0 15px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: $color-light-blue;
}

.looking__title {
  height: 60px;
  margin: 0 0 15px;
  font-family: "Roboto Slab", serif;
  color: 000000;
  font-size: 24px;
}
.looking__text {
  height: 100%;
  margin: 0 15px 30px;
}

.looking__paragraph {
  font-family: "Roboto", sans-serif;
  color: $color-grey;
  font-size: 18px;
}
.looking__button {
  background-color: $color-white;
  border-radius: 22.5px;
  height: 45px;
  width: 91px;
  text-decoration: none;
  padding: 25px;
  font-size: 20px;
  color: $color-orange;
  border: 2px solid $color-orange;
  margin: 0 15px 75px;
  transition: transform ease 0.3s, border-radius ease 0.4s;
  &:hover {
    transform: rotate(360deg);
    border-radius: 50%;
  }
  transition: color ease 0.8s;
  &:hover {
    color: $color-black;
  }
}

@media all and (min-width: 768px) {
  .looking__container {
    margin: 39px;
    padding: 0;
  }

  .looking__text {
    width: 690px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .looking__paragraph {
    margin: 0;
  }

  .looking__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*<!-- MAIN REASONS -->*/

.reasons__menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1 fr;
  grid-column-gap: 15px;
  grid-row-gap: 45px;
  list-style: none;
  transform: translateX(20px);
  padding: 0;
  margin-bottom: 0;
}

.reasons__container {
  grid-row-gap: 45px;
  background-color: #eff9ff;
}

.reasons__button {
  width: 184px;
  height: 45px;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: $color-orange;
  color: $color-white;
  transition: transform ease 0.4s, border-radius ease 0.4s;
  &:hover {
    transform: rotate(360deg);
    border-radius: 50%;
    transform: translateX(80px);
  }
}

.reasons__title {
  margin: 75px 15px 45px;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100px);
  transform: translateY(20px);
}

.reason__1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 45px 15px;
}

.title__1 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
}
.paragraph__1 {
  font-family: "Roboto", sans-serif;
  color: $color-black;
  font-size: 18px;
}

.reason__2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-20px);
}
.title__2 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
}

.paragraph__2 {
  font-family: "Roboto", sans-serif;
  color: $color-black;
  font-size: 18px;
}

.title__3 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
}
.reason__3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-20px);
}

.paragraph__3 {
  font-family: "Roboto", sans-serif;
  color: $color-black;
  font-size: 18px;
}

@media all and (min-width: 768px) {
  .reasons_menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    margin: 0;
  }

  .reasons__title {
    font-family: "Roboto Slab", serif;
    font-size: 26px;
  }
  .reason__1 {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    grid-column: 1/2;
    transform: translateY(-20%);
  }
  .reason__2 {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    grid-column: 2/3;
    transform: translateY(-10%);
  }
  .reason__3 {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    grid-column: 3/4;
  }

  .title__1 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
  .title__2 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
  .title__3 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
  .button__box {
    display: flex;
    align-items: center;
  }
}

/*<!-- FOOTER -->*/

.footer__container {
  margin: 0;
  background-color: #304268;
  color: $color-white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1 fr 1fr;
  grid-gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer__nav {
  margin: 30px;
}

.footer__menu {
  text-transform: uppercase;
  list-style: none;
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  grid-row: 1/2;
}

.footer__link {
  text-decoration: none;
  color: $color-white;
}
.footer__media {
  text-transform: uppercase;
  list-style: none;
  font-family: "Roboto Slab", serif;
  padding: 0;
  font-size: 16px;
  grid-row: 2/3;
}

.footer__bottom {
  text-align: center;
  grid-row: 3/4;
}

.footer__copyright {
  grid-row: 3/4;
}

.footer__message {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
}

.footer__circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: $color-white;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0;
  transform: translateY(-50%);
  background-color: $color-white;
}

.hearth {
  color: $color-orange;
}

@media all and (min-width: 768px) {
  .footer__bottom {
    order: -1;
  }
  .footer__tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    display: flex;
    transform: translateX(-100px);
    transform: translateY(20px);
  }
  .footer__media {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}
