<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>EVALUACION FINAL MODULO 1</title>
  <link rel="stylesheet" href="assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap" gitrel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

</head>

<body class="container__page">


  <!-- HEADER -->

  <header class="header__container">

    <div>
      <button class="header__hamburguer" type="submit"><img src="assets/images/ico-menu.svg"
          alt="boton-hamburguesa"></button>
    </div>


  </header>

  <main class="main__container">

    <!-- HERO -->

    <section class="hero__container">

      <div class="hero__space"></div>

      <div class="hero__box-title">
        <h1 class="hero__title">anonymous proxy</h1>
        <p class="hero__text">In hachabitasse platea dictumst</p>
        <img class="hero__scroll-down" src="assets/images/ico-scroll-down.svg" alt="flecha hacia abajo"></img>
        <div class="circle"></div>
      </div>

    </section>



    <!-- MAIN -->

    <div class="looking__container">
      <div class="looking__tips">Inmsomnia Tips</div>
      <div class="looking__text">
        <h2 class="looking__title">Looking Through A Window</h2>
        <p class="looking__paragraph">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
      </div>
      <a class="looking__go" href="/">Go</a>
    </div>

    <!-- FOOTER -->





  </main>
</body>

</html>
