.section__pricing {
  background-color: $color-orange;
  color: $color-light-blue;
}

@media all and (min-width: 768px) {
  .plans__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 18px;
  }

}
