// variables colores
$color-white: #ffffff;
$color-blue: #0271bc;
$color-light-blue: #8ccbea;
$color-ice-blue: #eff9ff;
$color-grey: #4a4a4a;
$color-orange: #f26002;
$color-black: #000000;
$color-grey: #4a4a4a;
$color-dark-grey: #304268;
